@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Raleway', sans-serif;
}
/* navigation bar */
.navbar{
    height: 70vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #636c79;
    color: white;
}
.navbar1{
    display: flex;
    justify-content: first baseline;
    height: 10vh;
}
.logo{
    margin-left: 2%;
    margin-top: 3px;
}
.list{
    display: flex;
    justify-content:flex-start;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding-right: 50px;
}
.list-items{
    width: 90px;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    align-items: center;
    transition: border-bottom 200ms;
}
.list-items:hover{
    border-bottom: 2px solid beige;
}
.lets-talk-btn{
    width: 150px;
    padding-top: 3px;
}
.letstalk{
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border:1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}
.letstalk:hover{
    background-color: beige;
    color: black;
}

.navbar2{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}
.navbarimg{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarimg img{
    width: 70%;
}
.navbartext{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navbartext1{
    color: white;
    font-size: 45px;
    font-weight: 900;
}
.navbartext2{
    font-size: 12px;
}
.navbartext3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 40px;
    background-color: #ffffff;
}
.navbartext3 i{
    color: black;
    padding: 10px;
    padding-right: 20px;
}
.navbartext3 input{
    width: 200px;
    height: 25px;
    border: none;
}
.navbartext3 button{
    height: 30px;
    width: 80px;
    background-color: #8bb7a2;
    border: none;
    color: white;
    font-weight: 700;
    transition:  color 200ms;
}
.navbartext3 button:hover{

    color:  black;
}

/* main content */
.main-content{
    margin-top: 5%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mctext1{
    width: 600px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mctext2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 100px;
}
.mcfigures{
    width: 200px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mcfigures h1{
    font-weight: 900;
    font-size: 40px;
    font-family: "Edu NSW ACT Foundation", sans-serif;
}
.mcfigures h4{
    color: #a7a7a7;
    font-weight: 700;
    font-size: 12px;
}
.mcimg img{
    padding: 30px;
    z-index: auto;
}

/* main content part 2 */
.main-content2{
    margin-top: 5%;
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mc2text1{
    width: 600px;
    height: 15%;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.mc2text2{
    height: 135%;
    padding: 10px;
}
.mc2card{
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-top: 5%;
}
.cardtext{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cardtxt1{
    width: 100%;
    height: 40%;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.cardtxt2{
    width: 100%;
    height: 30%;
    font-size: 15px;
    color: #6d6b6b;
    padding-top: 10px;
    margin-top: 5%;
}
.cardbtn{
    width: 100%;
    height: 30%;
}
.general{
    width: 150px;
    height: 40px;
    font-size:17px;
    font-weight: 700;
    background-color: #8bb7a2;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 1%;
    margin-top: 1%;
    transition: color 200ms;
}
.general:hover{
    color: black;
}
.cardimg{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main content part 3 */
.main-content3{
    height: 100vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mc3text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 1000px;
}
.mc3text1 div:nth-child(1){
    font-size: 40px;
    font-weight: 900;
    width: 45%;
}
.mc3text1 div:nth-child(2){
    font-size: 15px;
    width: 45%;
}
.mc3text2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.mc3card{
    width: 30%;
    height: 100%;
    padding-left: 10px;
}
.mc3cardimg{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.mc3cardtext{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
}
.mc3cardsubtxt1{
    font-size: 25px;
    font-weight: 900;
}
.mc3cardsubtxt2{
    font-size: 12px;
    color: #6d6b6b;
}
.mc3see-morebtn{
    height: 10%;
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc3see-morebtn button{
    width: 150px;
    height: 40px;
    font-size:17px;
    background-color: #8bb7a2;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: color 200ms;
    font-weight: 700;
}
.mc3see-morebtn button:hover{
    color: black;
}

/* footer */
.footer{
    height: 50vh;
    background-color: #10181d;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ficons{
    display: flex;
    width: 1100px;
    height: 25%;
    justify-content: space-evenly;
}
.flogo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fsocial{
    width: 70%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fsocial i{
    padding: 10px;
    transition: color 200ms;
    border-radius: 50%;
    background-color: #353535;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    transition: background-color 200ms , color 200ms;
}
.fsocial i:hover{
    background-color: gold;
    color: black;
}
.otherservices{
    height: 75%;
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-top: 2px solid #636c79;
}
.section{
    height: 80%;
}
.section h1{
    font-size: 25px;
    font-weight: 700;
}
.section li{
    list-style: none;
    padding: 5px 0;
    color: #636c79;
    transition: color 200ms;
}
.section li:hover{
    color: white;
}
@media screen and (max-width:900px) {
    .navbar{
        height: fit-content;
    }
    .navbar1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .list{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navbar2{    
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .navbarimg img{
        width: 95%;
    }
    .navbartext1 , .navbartext2 , .navbartext3 {
        width:fit-content;
        margin: 2px;
    }
    .main-content{
        height: fit-content;        
    }
    .mctext1{
        width: 100vw;
        font-size: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .mctext2{
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        height: fit-content;
    }
    .mcimg{
        justify-content: center;
        display: flex;
    }
    .mcimg img{
        width: 80%;
        height: 50%;        
    }
    .main-content2{
        height: fit-content;
    }
    .mc2text1{
        width: 100vw;
        font-size: 20px;
    }
    .mctext2{
        height: fit-content;                
    }
    .mc2card{
        flex-direction: column;
        height: fit-content;
        border: 1px solid #1e1e1e;
        border-radius: 8px;
        padding: 5px;
        margin: 1%;
    }
    .cardtext{
        width: fit-content;
        height: 50%;
    }
    .cardtxt1 , .cardtxt2 , .cardbtn{
        margin: auto;
        margin: 1%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .cardimg{
        width: 100vw;
    }
    .cardimg img{
        width: 90%;
        padding: 10px;
    }
    .main-content3{
        height: fit-content;  
        padding: 10px;      
    }
    .mc3text1{
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding: 10px;
    }
    .mc3text1 div{        
        height: 50%;
    }
    .mc3text2{
        flex-direction: column;
        height: fit-content;
    }
    .mc3card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 5%;
    }
    .mc3cardtext{
        margin: 2%;
    }
    .footer{
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .ficons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .flogo{
        width: 30%;
        margin: 2%;
        justify-content: center;
    }
    .fsocial{        
        width: 30%;
        margin: 2%;
        justify-content: center;
    }
    .otherservices{
        flex-direction: column;
        height: fit-content;
    }
    .section{
        margin: 2%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;
        width: 40%;
    }
}